@import '../../../../shared/styles/colors';

.dnd {
  &__container {
    display: block;
    position: relative;
    border: 3px dotted $color-gray;
    background: $color-lightgray;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 1.5rem;

    &:hover {
      border-color: $color-darkgray;
    }
  }

  &__input-file {
    position: relative;
    top: -370px;
    opacity: 0;
    width: 100%;
    height: 400px;
    cursor: pointer;
  }

  &__text {
    margin: auto;
  }

  &__choose-file {
    text-decoration: underline;
  }

}

