@import '../../../shared/styles/variables';
@import '../../../shared/styles/colors';

.header-misc {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__search {
    margin-right: 21px;
    padding: 5px;

    &-icon {
      margin-right: .4rem;

      color: $color-darkgray;
      font-size: .6rem;
      font-weight: 300;
      cursor: pointer;
    }

    &-label {
      color: $color-gray;
      font-family: 'open_sansregular', sans-serif;
      font-size: .9rem;
      
      font-weight: 300;
    }

  }

}
