$color-gray: #c6c6c6;
$color-lightgray: #f5f5f5;
$color-lightgray-boxshadow: #ded8d8;
$color-lightgray-bg: #efefef;
$color-mediumgray: #a9a9a9;
$color-darkgray: #686866;
$color-deepgray: #464547;
$color-lightskyblue: #87cefa;
$color-darkblue: #0b67b3;
$color-darkseagreen: #8fbc8f;
$color-green: #008f42;
$color-orange: #ffa500;
$color-red: #e55342;
$color-065red: rgba($color-red, .65);
$color-black: #000;
$color-02black: rgba($color-black, .2);
$color-white: #fff;
$color-black-transparent-bg: rgba(0, 0, 0, .5);
$color-black-transparent-bg-hard: rgba(0, 0, 0, .8);
