@import '../../../../shared/styles/colors';

.show-next-items {
  margin-top: -30px;
  text-align: center;

  &-btn {
    transform: scaleY(.7);
    color: $color-darkgray;
    font-size: 4rem;
    cursor: pointer;

    &:active {
      color: lighten($color-darkgray, 10%);
      user-select: none;
    }
  }
}
