<form [formGroup]="ensembleForm" novalidate class="ensemble-item" *ngIf="ensemble">
  <div class="img-wrapper">
    <div class="ensemble-item__img-box img-box">
      <div class="img-wrapper__background-block">
      </div>
      <div class="img-box__img"
           *ngIf="ensemble.img"
           [ngStyle]="{'background-image': 'url(' + ( ensemble.img.link ) + ')'}">

      </div>
      <a class="img-box__uploading"
         (click)="showAlbums()">
      <span class="img-box__uploading-text img-wrapper-icon">
        <i class="fa fa-picture-o" aria-hidden="true">
          <p class="img-box__uploading-text-title img-wrapper-icon-text">{{ 'AlbumTitle' | localizator }}</p>
        </i>
      </span>
      </a>
    </div>

    <div class="img-box__local-upload-wrapper content-box">
      <p class="asterisk"></p>
      <app-dnd-file-upload class="img-box__local-upload img-wrapper-input"
                           (fileUploaded)="addImage($event)"
                           [title]="'Choose image'">
      </app-dnd-file-upload>
      <div *ngIf="savePressed" class="content-box__alert">
        <p *ngIf="!ensemble.img.link && savePressed">
          {{ 'validationInvalidRequired' | localizator}}
        </p>
      </div>
    </div>

  </div>


  <div class="content-box">
    <h2 class="content-box__prop-name content-box__prop-name--required">{{ 'Title' | localizator }}</h2>
    <input class="content-box__header" id="title" formControlName="title" maxlength="50" minlength="2" required>
    <div class="content-box__alert">
      <div *ngIf="(ensembleForm.get('title').touched ||  savePressed)">
        <p *ngIf="ensembleForm.get('title').hasError('required')">{{ 'validationInvalidRequired' | localizator}}</p>
      </div>
      <div>
        <p *ngIf="ensembleForm.get('title').hasError('minlength')">{{ 'validationInvalidLengthMin' | localizator}}</p>
      </div>
    </div>
  </div>

  <div class="content-box">
    <h2 class="content-box__prop-name content-box__prop-name--required">{{ 'Description' | localizator }}</h2>
    <ckeditor formControlName="description" id="description" [config]="ckEditorConfig" required></ckeditor>
    <div *ngIf="(ensembleForm.get('description').touched ||  savePressed)" class="content-box__alert">
      <p *ngIf="!ensembleForm.controls.description.value">{{ 'validationInvalidRequired' | localizator}}</p>
    </div>
  </div>

  <app-error-message *ngIf="errMessage" [message]="errMessage" (onEnding)="errMessage = null"></app-error-message>

  <div class="ensemble-item__tools">
    <button class="ensemble-item__btn ensemble-item__btn--save"
            (click)="suggestToSave()">
      {{ 'Save' | localizator }}
    </button>
    <button class="ensemble-item__btn ensemble-item__btn--cancel"
            (click)="suggestToCancel()">
      {{ 'Cancel' | localizator }}
    </button>
  </div>

</form>

<app-albums-modal-window *ngIf="imgSelection" (onAlbumChosen)="updateImg($event)"></app-albums-modal-window>

<app-confirmation-modal-window [question]="questionForConfirmation"
                               (onVoted)="decideAboutVoting($event)">
</app-confirmation-modal-window>


