@import '../../shared/styles/variables';
@import '../../shared/styles/colors';

.modal {
  color: $color-white;
  font-size: 1.25rem;

  &-image {
    float: left;
    margin-right: 20px;
    width: 40%;
    min-width: 320px;
    max-width: 500px;

    @media screen and (max-width: 767px ) {
      float: none;
      min-width: 100%;
    }
  }

  &-title {
    margin: 20px 0;
    font-size: 2rem;
  }

  &-subtitle {
    margin: 20px 0;
    font-size: 1.5rem;

    &__center {
      text-align: center;
      font-size: 2rem;
    }
  }

  &-text {

    &-item {
      margin: 10px 0;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
