<div class="footer__credentials credentials">
  <span *ngIf="credentials | async" class="credentials__item credentials__address">{{(credentials | async)?.address | localizatorFromObject}}</span>
    <a [attr.href]="'mailto:' + (credentials | async)?.email" class="credentials__item credentials__email">{{(credentials | async)?.email}}</a>
    <a [attr.href]="'tel:' + (credentials | async)?.phone" class="credentials__item credentials__phone">{{(credentials | async)?.phone}}</a>
  <div class="external">
    <a *ngFor="let socialLink of socialLinks | async" class="external__link" target="_blank" [attr.href]="socialLink.link" [attr.title]="socialLink.name">
      <span class="fa" [ngClass]="socialLink.faIcon" aria-hidden="true"></span>
    </a>
  </div>
</div>
