@import '../../../shared/styles/variables';
@import '../../../shared/styles/colors';

.credentials {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 0;
  width: 200px;
  text-align: center;

  @media screen and (max-width: 768px) { 
    width: 100%;
  }

  &__item {
    display: block;
    margin-bottom: 7px;
  }

  &__address {
    color: $color-gray;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__email {
    margin-bottom: 15px;
    text-decoration: underline;
    color: $color-red;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__phone {
    color: $color-darkgray;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.external {
  display: flex;
  justify-content: center;

  &__link {
    margin: 0 5px;
    border-radius: 50%;
    background-color: $color-darkgray;
    width: $external-link-diameter;
    height: $external-link-diameter;
    text-align: center;
    line-height: $external-link-diameter;
    color: $color-white;

    .fa {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $color-red;
    }
  }
}

@media screen and (min-width: 768px) {

  .credentials {

    &__phone {
      text-decoration: none;
      cursor: default;
      pointer-events: none;
    }
  }
}
