@import '../../../../../shared/styles/colors';
@import '../../../../../shared/styles/variables';

.alumni {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10%;
  }

  &__img-box {
    margin: 0 auto;
  }

  &__link {
    display: flex;
    margin: 0 0 1rem;

    &-name {
      display: block;
      width: 10%;
      min-width: 100px;
    }

    &-value {
      width: 90%;
    }
  }

  &__tools {
    display: flex;
    justify-content: space-around;
    margin: 1.25rem 0;
  }

  &__btn {
    width: 40%;
    max-width: 200px;
    height: 2rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 2rem;
    color: $color-darkgray;
    font-family: $text-font-family;
    font-size: 1.3rem;
    font-weight: bold;


    &--save {
      background-color: $color-lightgray;

      &:hover {
        background-color: $color-gray;
      }
    }

    &--cancel {
      background-color: $color-065red;

      &:hover {
        background-color: $color-red;
      }
    }
  }

  &-item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  &-title {
    margin: 20px;
    text-align: right;
    text-transform: uppercase;
    font-family: $text-font-family;
    font-weight: bold;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: .6;
      z-index: 10;
      border-radius: 10rem;
      background-color: $color-mediumgray;
      padding: 3px;
      width: 30px;
      height: 30px;
      text-align: left;
      color: $color-white;
      font-size: 2.5rem;
      cursor: pointer;

      &:hover {
        transition: all .25s ease;
        opacity: 1;
        background-color: $color-darkgray;
      }
    }

  }
}

.asterisk {
  //position: absolute;
  top: 10px;
  right: -10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;

  &::after {
    content: '*';
    color: $color-red;
  }
}

.img-wrapper {
  position: relative;
  top: 0;
  left: 0;

  &__background-block {
    position: absolute;
    opacity: .8;
    z-index: -1;
    background-color: $color-lightgray;
    width: 100%;
    height: 300px;
  }

  &-icon {
    position: relative;
    z-index: 2;

    &-text {
      font-family: 'Oswald light', Arial, sans-serif;
    }
  }

  &-input {
    position: relative;
    z-index: 1;
  }
}

.img-box {
  position: relative;
  margin: 0 auto 1rem;
  width: 300px;
  height: 300px;

  @media screen and (max-width: 480px) {
    width: 200px;
    height: 200px;
  }

  &__img {
    position: relative;
    z-index: -2;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &__uploading {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &-text {
      align-self: center;
      text-align: center;
      line-height: 2rem;
      color: $color-black;
      font-size: 1.3rem;
      font-weight: bold;

      &-title {
        position: relative;
        z-index: 2000;
        font-family: $text-font-family;
        font-size: 20px;
      }
    }
  }

  &__btn {
    display: none;
  }

  &__local-upload-wrapper {
    position: relative;
    margin: 0 auto;
    width: 300px;
  }
}

.data-wrapper {
  width: 100%;
}

.content-box {
  position: relative;

  &__prop-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }

  &__prop-name {
    padding: 1.5rem 0 1rem;
    width: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;

    &--custom {
      position: absolute;
      right: -10px;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  &__about {
    border: 1px solid $color-gray;
    width: 80%;
    height: 200px;
    font-family: $text-font-family;
    font-size: 1.2rem;
    resize: none;

    &:focus {
      outline: 0;
    }

    &:hover {
      box-shadow: 0 2px 9px 1px $color-gray;
    }

  }

  &__select {
    display: flex;
    position: relative;
    flex-direction: column;
    transition: max-height .25s ease;
    z-index: 100;
    border: 3px solid transparent;
    padding: 0 11px 0 10px;
    width: 100%;
    max-height: 2rem;
    color: $color-darkgray;
    font-size: 1.125rem;
    font-weight: bold;

    &:hover {
      position: absolute;
      right: 0;
      border: 3px solid $color-gray;
      border-top: 0;
      background: $color-lightgray;
      padding: 3px 13px 0;
      width: 70%;
      max-height: 100vh;
      overflow: hidden;
      cursor: pointer;
      box-sizing: border-box;

      .content-box__select-option-arrow {
        transform: rotate(-180deg);
        transition: transform 150ms ease;
      }

    }

    &-input-container {
      margin: 15px 0;
      border: 1px solid $color-gray;
      width: 71%;
      height: 3em;
      overflow: hidden;
      cursor: default;

      &:hover {
        box-shadow: 0 2px 9px 1px $color-gray;
      }
    
    }

    &-option {
      margin: 5px;

      &--disabled {
        color: $color-gray;

        &--loading {
          display: block;
          margin: .63rem;
        }

      }

      &-arrow {
        float: right;
        transform: rotate(-360deg);
        transition: transform 150ms ease;
      }

    }
  }

  &__header {
    display: block;
    outline: none;
    border: 0;
    padding: 0;
    width: 100%;
    line-height: 3rem;
    color: $color-darkgray;
    font-size: 1.3rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__paragraph {
    width: 95%;
    resize: none;
  }

  &__btn-wrapper {
    position: relative;
    width: 100%;
    font-size: 1.2rem;
  }

  &__btn {
    position: relative;
  }

  &__tool-wrapper {
    position: relative;
    margin: 1rem 0;
    width: 100%;
    height: 1.5rem;
  }

  &__tool {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 2rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.2rem;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__alert {
    width: 100%;
    color: $color-red;
    font-weight: bold;
  }

  &__lang {
    transition: max-height .25s ease;
    max-height: 0;
    overflow: hidden;
  }

  &__alone {
    width: 80%;
  }
}

.disabled {
  background-color: $color-lightgray;
  cursor: auto;

  &:hover {
    background-color: $color-lightgray;
  }
}

.active {
  border: 1px solid $color-gray;
  border-radius: 20px;
  box-shadow: 0 0 3px;
  background: $color-white;
  padding: 50px;
  max-height: 600px;

  &-title {
    color: $color-065red;
  }
}

.arrow-rotate {
  transform: rotate(-180deg);
  transition: transform 150ms ease;
}

.error {
  text-decoration: underline;
  text-decoration-color: $color-red;
  text-decoration-style: wavy;
}
