<section class="music-education-info">
  <p> Педагоги спеціального циклу працюють на відділах: фортепіанному, скрипковому, струнному, духових і ударних інструментів, диригентсько-хоровому,
    камерного ансамблю та концертмейстерського класу, загального і спеціалізованого фортепіано, теорії музики.
  </p>

  <p> Навчання в школі проводиться протягом 11-12-ти років по всіх інструментально-виконавських спеціальностях і музичних історико-теоретичних дисциплінах,
    у класах хорового і симфонічного диригування, композиції, а також (для дітей дошкільного віку) в підготовчих групах. Навчально-виховний процес, таким чином,
    обіймає дітей і підлітків всіх вікових категорій. В школі також створені симфонічний і камерний оркестри, хор хлопчиків, хор дівчат.
  </p>

  <p> Напрацьована в школі система професійного музичного виховання відрізняється гнучким підходом до особистості кожного учня і вбирає в себе найновітніші
    досягнення української та зарубіжної педагогіки, передовий педагогічний досвід. Метою навчання дітей дошкільного віку в підготовчих групах є виявлення
    музично обдаровадо першого класу школи. Паралельно проводиться конкурсний набір і до 2-го - 9-го класів з метою відбору найталановитіших дітей з усіх
    регіонів України.
  </p>

  <p> Навчання в школі ведеться не тільки штатними викладачами, багато з яких уже створили відомі авторські школи, але й провідними концертуючими музикантами
    України - солістами Національної опери і Національної філармонії України, Національного симфонічного оркестру.
  </p>

  <p> Викладачі та учні школи проводять велику концертно-просвітницьку роботу, систематично виступають у найпрестижніших концертних залах Києва і інших міст
    України. Поряд з цим, концертно-виконавська практика є гармонійним компонентом навчально-виховного процесу в школі: публічні виступи сприяють формуванню
    професійної майстерності і артистизму юних музикантів, виховують виконавську волю, допомагають адаптувати артистичну молодь до умов їхньої майбутньої
    професійної діяльності.
  </p>

  <p> Стали доброю традицією виступи учнів школи - лауреатів Міжнародних конкурсів - в резиденції Президента України.
  </p>

  <p> Вихованці школи виступали в найпрестижніших концертних залах Росії, Франції, Німеччини, США, Англії, Італії, Голландії, Австрії, Швейцарії, Японії,
    Канади і інших країн. Тут навчались і консультувались в майстер-класах викладачів школи юні музиканти з Франції, Японії, Кореї, Канади, Німеччини, Китаю.
    Кращим учням школи акомпанували провідні симфонічні оркестри України, США, Угорщини, Італії. Художні колективи школи (оркестр, хор) з великим успіхом
    гастролювали в багатьох країнах Європи та в Японії. Міжнародне визнання і авторитет школи підтверджується і тим, що за останні роки заявилося багато бажаючих
    займатися у нас в школі з-за кордону, зокрема з КНР та Південної Кореї.
  </p>
</section>

<app-spinner></app-spinner>
