
@font-face {
  font-family: 'OpenSansCondensed-Bold';
  src: url('OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('OpenSansCondensed-Bold.woff') format('woff'), url('OpenSansCondensed-Bold.ttf')  format('truetype'), url('OpenSansCondensed-Bold.svg#OpenSansCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
