
<div class="ensemble-item">
  <p class="content-box__name">{{ensembles?.name}}</p>
  <div *ngIf="ensembles" class="img-box">
    <img class="img-box__img"
         (click)="showModalWindow = true"
         [src]="ensembles?.img.link"
         alt="{{ensembles?.name}}">
  </div>

  <div class="content-wrapper">
    <div class="content-box">
      <div class="content-box__description" [innerHTML]="description | safeHtml"></div>
    </div>
  </div>
</div>

<app-modal-window *ngIf="showModalWindow"
                  (close)="showModalWindow = false">
  <div class="img-box img-box--modal">
    <img class="img-modal"
         [src]="ensembles.img.link"
         alt="{{ensembles.name}}">
  </div>
</app-modal-window>
