@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/variables';

.ensemble-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.img-box {
  width: 60%;
  overflow: hidden;

  @media all and (max-width: 992px) {
    padding: 1rem;
    width: 100%;
  }

  // @media all and (max-width: 1024px) {

  // }

  // @media all and (max-width: 480px) {
  //   width: 100%;
  // }

  &--modal {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    cursor: pointer;

    &--modal {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.content-box {
  padding: 0 1rem;
  max-width: 100%;

  @media all and (max-width: 768px) {
    order: 1;
  }

  &__name {
    margin-bottom: 1rem;
    min-width: 10px;
    text-align: center;
    text-transform: uppercase;
    color: $color-darkgray;
    font-size: 1.625rem;
    font-weight: bold;
  }

  &__description {
    margin-top: 15px;
    text-align: justify;
    line-height: 1.5rem;
    color: $color-darkgray;
    font-family: 'Oswald light', sans-serif;
    font-size: 1.25rem;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__img {
    min-width: 200px;
    max-width: 100%;
    height: auto;

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.img-modal {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 80vw;
}
