@import '../../shared/styles/variables';
@import '../../shared/styles/colors';

.footer {
  background-color: $color-lightgray;
  width: 100%;

  &__inner-wrapper {
    position: relative;
    margin: auto;
    padding: 30px 10px 0;
    min-width: 320px;
    max-width: 1200px;
    min-height: 240px;

    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }
}

.footer-hide {
  display: none;
}
